<h1>users :</h1>


<% @users.each do |user| %>
    <h2><%= user.first_name %></h2>
    <p><%= user.email %></p>
    <p>
        <a href="<%= user_path(user.id) %>" class="btn btn-danger" data-confirm="Are you sure ?" data-method="DELETE">Delete</a>
    </p>
<% end %>

<p>
    <a href="<%= new_user_path %>" class="btn btn-success">New user</a> 
</p>